<div class="jumbotron container">
  <h1 class="display-4">German to English Translator</h1>
  <hr class="my-4">
  <div>
    <p>Plese enter a sentence in German: </p>
    <input #germantextbox type="text" [(ngModel)]="germanSentence" required>  
    <p class="lead">{{germanSentence}}</p>
    <p class="lead" *ngIf="germanSentence !== ''">
      <button class="btn btn-primary" (click)="translate(germantextbox.value)">Translate</button>
    </p>
    <div class="progress" *ngIf="isProcessing === true">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
  </div>  
  <div *ngIf="translatedText !== ''">
    <p class="lead">Translated Text :</p>
    <span>{{translatedText}}</span>
  </div>  
</div>
