<app-menu></app-menu>
<main class="container bg-light text-dark">
  <div class="text-center">
    <h1 class="display-4"><b>Image Classification App</b></h1>
    <hr class="my-4">
  </div>
  <div>
    <div class="container">
      <p>
        Welcome to Image Classification. An app for an end-to-end Machine Learning lifecycle classifying the image.
        <br>
        Steps involved
      </p>
      <ul>
        <li>Upload images</li>
        <li>Train the model</li>
        <li>Classify image</li>
      </ul>
    </div>
    <br>

    <!--Upload-->
    <div class="container">
      <h1>Upload Images</h1>
      <hr class="my-4">
      <p>Plese upload a folder containing images and segregated by folders of different classes</p>
      <br>
      <input type='file' (change)="OnSelectFolder($event)" class="btn btn-secondary" webkitdirectory mozdirectory msdirectory odirectory directory multiple > <br/>
      <br>
      <div class="container" *ngIf="previewImages.length > 0">
        <h5 class="lead">Images Metadata</h5>
        <ul>
          <li>Total Images: {{uploadedImagesCount}}</li>
          <li>Classes
            <ul>
              <li *ngFor="let class of classes"> {{ class }} </li>
            </ul>
          </li>
        </ul>
        <h5 class="lead">Preview 10 images</h5>
        <div class="content">
          <img *ngFor='let url of previewImages'  [src]="url" height="100" width="150px" style="margin: 3px;">
        </div>
        <div class="progress" *ngIf="uploading === true">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; background-color:gray"></div>
        </div>
      </div>
      <br>
    </div>
    <br>

    <!--Train-->
    <div class="container">
      <div *ngIf="uploaded === true">
        <h1>Train the Model</h1>
        <hr class="my-4">
        <p>
          <button class="btn btn-secondary" (click)="trainModel()">Train</button>
        </p>
        <div class="progress" *ngIf="training === true">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; background-color:gray"></div>
        </div>
        <p *ngIf="trained === true">Accuracy: {{accuracy}}%</p>
      </div>
    </div>
    <br>

    <!--Classification-->
    <div class="container">
      <div *ngIf="trained === true">
        <h1>Classify</h1>
        <hr class="my-4">
        <p>Plese upload an image from one of the class determined</p>
        <input type='file' accept=".jpg" (change)="onSelectFile($event)" class="btn btn-secondary"> <br/>
        <br>
        <img [src]="selectedImageSrc" *ngIf="selectedImageSrc" height="150" width="200px" style="margin: 3px;">
        <br>
        <p class="lead" *ngIf="selectedImageSrc !== ''">
          <button class="btn btn-secondary" (click)="classify()">Classify</button>
        </p>
        <div class="progress" *ngIf="classifying === true">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; background-color:gray"></div>
        </div>
      </div>
      <br>
      <div *ngIf="classifiedImageResult">
        <p class="lead">
          Classification: {{classifiedImageResult}}
        </p>
      </div>
    </div>
  </div>
</main>


