<main class="container">
    <h1 class="display-4 text-center">Welcome to AI Endeavour</h1>
    <hr class="my-4">
    <br>
    <div class="container">
      <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-center">
              <img class="img-banner" src="../../assets/galaxy.jpg">
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <img class="img-banner" src="../../assets/ic.jpg">
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <img class="img-banner" src="../../assets/sa.jpg">
            </div>
          </div>
        </div>
      </div>
  </div>
</main>
