<div class="jumbotron container-fluid">
  <h1 class="display-4">Sentiment Analysis App</h1>
  <hr class="my-4">
  <div>
    <p>Plese upload an csv file(*.csv) containing a sentiment text and a sentiment</p>
    <input type='file' accept=".csv" (change)="onSelectFile($event)" class="btn btn-primary"> <br/>
    <div *ngIf="filePreview !== ''" class="content">
      <h4><b>File Preview</b></h4>
      <table>
        <tr *ngFor="let item of csvRecords">
        <td *ngFor="let single of item">{{single}}</td>
        </tr>
      </table>
    </div>
    <label>{{uploadedFile}}</label>
    <div *ngIf="filePreview !== ''">
      <button class="btn btn-primary" (click)="trainModel()">Train</button>
      <div class="progress" *ngIf="isProcessing === true">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; background-color:gray"></div>
      </div>
    </div>
    <div *ngIf="filePreview !== '' && isTrained === true">
      <p>Plese enter a sentence for predicting its sentiment: </p>
      <input #sentimenttextbox type="text" [(ngModel)]="sentimentSentence" required>
      <p class="lead">{{sentimentSentence}}</p>
      <p class="lead" *ngIf="sentimentSentence !== ''">
        <button class="btn btn-secondary" (click)="predictSentiment(sentimenttextbox.value)">Predict</button>
      </p>
    </div>
  </div>
  <div *ngIf="predictedSentiment !== ''">
    <p class="lead">Prediction: {{predictedSentiment}}</p>
  </div>
</div>
